@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@inherits IndexBase

<div id="root" @ref="OuterDiv" @onkeydown="@KeyDown" tabindex="0" @onclick="@OnClick">
    <div class="app">
        <div class="game">
            @if (board != null)
            {
                foreach (var cell in board)
                {
                    <div class="box"><img data-cell-index="@cell.index" alt="@cell.content" src="@cell.content" data-cell-id="@cell.index"></div>
                }
            }
        </div>
    </div>
</div>
